@import '../../scss/_mixins';
@import '../../scss/_variables';

.section {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  &_light {
    background-color: $color-light;
  }
  &__info {
    @include gridable(100%);
    max-width: $max-width;
    box-sizing: border-box;
    padding: 30px 20px;
    align-content: center;
    &-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;
    }
  }
  &__title {
    font: normal 54px/2 'RussoOne', Arial, sans-serif;
    margin: 0;
    color: $color-light;
    @media screen and (max-width: 480px) {
      font-size: 48px;
    }
    @media screen and (max-width: 375px) {
      font-size: 36px;
    }
  }
  &__subtitle {
    text-align: center;
    font: normal 36px/2 'RussoOne', Arial, sans-serif;
    margin: 0;
    &_light {
      color: $color-dark;
    }
  }
  &__text {
    margin: 0;
    width: 100%;
    &_light {
      color: $color-dark;
    }
    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }
}
