@import '../../scss/_mixins';
@import '../../scss/_variables';

.header {
  &__menu {
    @include gridable(100%);
    @include unmarkedList(0, 0);
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 40px;
    position: relative;
    @media screen and (max-width: 768px) {
      z-index: 5;
      grid-template-columns: 1fr;
      gap: 5px;
      position: fixed;
      padding-top: 80px;
      z-index: 1;
      top: 0;
      right: -320px;
      visibility: hidden;
      align-content: start;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      transition: 0.5s;
      opacity: 0;
      background-color: $color-dark;
      font-size: 32px;
      padding-left: 20px;
      &_opened {
        right: 0;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
      }
    }
    &-button {
      opacity: 0;
      display: none;
      width: 32px;
      height: 32px;
      background-image: url(../../images/mobile-menu-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 10;
      transition: 0.5s;
      &_opened {
        transform: rotate(90deg);
      }
      @media screen and (max-width: 768px) {
        opacity: 1;
        display: flex;
      }
    }
  }
  &__menu_drop {
    transition: 0.5s;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color-light;
  }
}
