@import '../../scss/_mixins';
@import '../../scss/_variables';

.header {
  &__submenu {
    @include gridable(min-content);
    @include unmarkedList(0, 0);
    box-shadow: 0px 5px 5px 5px rgba($color-dark, 0.5);
    padding: 10px;
    z-index: 5;
    background-color: $color-dark;
    border-radius: 3px;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    font-size: 10px;
    gap: 5px 30px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 0;
    transition: 0.5s;
    @media screen and (max-width: 768px) {
      padding: 0 0 0 10px;
      position: static;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-auto-flow: unset;
      height: 100%;
      gap: 3px;
      visibility: visible;
      opacity: 1;
    }
  }
}
