@import '../../scss/mixins';
@import '../../scss/variables';

html {
  scroll-behavior: smooth;
}

.app {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  color: $color-light;
  background-color: $color-dark;
  font: normal 18px/1.5 'Inter', Arial, sans-serif;
}
