@import '../../scss/_mixins';
@import '../../scss/_variables';

.header {
  &__menu {
    &-item {
      @include gridable(min-content);
      align-items: center;
      align-content: center;
      gap: 0 5px;
      font-size: 12px;
      text-transform: uppercase;
      &:hover .header__submenu {
        visibility: visible;
        opacity: 1;
        @media screen and (max-width: 768px) {
          height: 100%;
        }
      }
      &:hover .header__menu_drop {
        border-top: none;
        border-bottom: 4px solid $color-light;
      }
    }
  }
}
