@import '../../scss/_mixins';
@import '../../scss/_variables';

.game {
  &__info {
    display: grid;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 30px 20px;
    align-content: center;
    grid-template-areas:
      'title title'
      'text image'
      'platform .';
    gap: 0 30px;
    @media screen and (max-width: 1024px) {
      grid-template-areas:
        'title'
        'image'
        'text'
        'platform';
      gap: 20px;
      grid-template-columns: 1fr;
      padding-right: 0;
      padding-left: 0;
    }
    &-image {
      grid-area: image;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;
      max-width: 700px;
      min-width: 600px;
      width: 100%;
      height: auto;
      @media screen and (max-width: 1024px) {
        min-width: 300px;
        max-width: 100%;
      }
    }
  }
  &__title {
    grid-area: title;
    margin-bottom: 30px;
    font: normal 32px/1.5 'RussoOne', Arial, sans-serif;
    text-align: center;
    margin: 0;
    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &__text {
    @include flexible(100%);
    flex-flow: column nowrap;
    gap: 10px;
    grid-area: text;
    font-size: 14px;
    box-sizing: border-box;
    @media screen and (max-width: 1024px) {
      padding: 0 20px;
    }
  }
  &__paragraph {
    margin: 0;
  }
  &__platform {
    @include gridable(100%);
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-area: platform;
    gap: 20px;
    padding-top: 20px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 20px 20px 0;
    @media screen and (max-width: 1024px) {
      padding-top: 0;
    }

    &-title {
      font: normal 12px/2 'RussoOne', Arial, sans-serif;
      margin: 0;
    }
    &-list {
      @include flexible(100%);
      @include unmarkedList(0, 0);
      gap: 10px;
    }
  }
}
