@import '../../scss/_mixins';
@import '../../scss/_variables';

.header {
  &__navigation {
    @include flexible(min-content);
    justify-content: space-between;
    align-items: center;
    &-overlay {
      z-index: 1;
      position: fixed;
      top: 0;
      right: -150%;
      display: block;
      visibility: hidden;
      width: 100%;
      height: 100vh;
      transition: 0.5s;
      opacity: 0;
      background: $color-dark;
      &_active {
        cursor: pointer;
        right: 0;
        visibility: visible;
        opacity: 0.6;
        transition: 0.5s;
      }
    }
  }
}
