@import '../../scss/_mixins';
@import '../../scss/_variables';

.section {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  &__info {
    @include gridable(100%);
    max-width: $max-width;
    box-sizing: border-box;
    padding: 0 20px;
    align-content: center;
  }
  &__title {
    font: normal 54px/2 'RussoOne', Arial, sans-serif;
    margin: 0;
    color: $color-light;
    @media screen and (max-width: 480px) {
      font-size: 48px;
    }
    @media screen and (max-width: 375px) {
      font-size: 36px;
    }
  }
  &__text {
    margin: 0;
    width: 100%;
    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }
}
