@import '../../scss/_mixins';
@import '../../scss/_variables';

.section {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  &_light {
    background-color: $color-light;
    color: $color-dark;
  }
  &__info {
    &-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;
    }
  }
  &__text {
    margin: 0;
    width: 100%;
    &_light {
      color: $color-dark;
    }
    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }
}
